/*===================================

Basic Reset

===================================*/
* {
	margin:0;
	padding:0;
}

/*===================================

General Styles

===================================*/

h1 {
	
	
	font: 300 61px/72px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:100;

}
input {
	outline: none;
}
/*===================================

Header

===================================*/

header {
	background: url("img/lights.png") 0px -550px;
	background-repeat: no-repeat;
	background-clip: content-box;
	height:240px;
	width:1260px;
	background-color:;	
}

/*===================================

Nav

===================================*/

nav {
	height:40px;
	background: grey;
	display:flex;
	align-items: center;
	position: fixed;
	width:100%;
	z-index: 1;
}



.nav-el a {
	position: relative;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color:#00ffcc;
	margin:40px;
	left:60px;
}

.nav-el a:hover {
	color:#fff;
}
header h1 {
	position: relative;
	top:110px;
	left:195px;
	clear:both;
	z-index:0;
	color:#fff;
	width:50%;
}

/*===================================

Main Content

===================================*/
.main {
	height:1000px;
	display:flex;
	background:teal;
	background: -webkit-linear-gradient(left, teal, violet); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, teal, violet); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, teal, violet); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, teal, violet); /* Standard syntax */
	background: linear-gradient(to right, teal, violet);
}

.main-about {
	height:800px;
}

/*===================================

Mail Chimp Sign Up

===================================*/

.sidebar-left {
	width:300px;
	min-width: 290px;
	height:100%;

	
	/*
	background: -webkit-linear-gradient(red, yellow); 
    background: -o-linear-gradient(red, yellow); 
    background: -moz-linear-gradient(red, yellow); 
    background: linear-gradient(#000, #00e6b8); 
    */
    background-color:#777;
    display:flex;
    justify-content: center;
}

#mc_embed_signup{
	background:#fff; 
	clear:left; 
	font:14px Helvetica,Arial,sans-serif; 
	margin-top:80px;
	height:350px;
	width:95%;
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	        border-radius:5px;
}

#mc_embed_signup_scroll h2 {
	color:#00cc88;
	text-align:;
	font-size:30px;
	margin-left:10px;
	margin-top:20px;
	padding-top:10px;
}

.indicates-required {
	position:relative;
	right:20px;
	font-size:8pt;
	float:right;
	margin:5px 0 10px 0;
}

.indicates-required span {
	color:red;
	display:inline;
}

.mc-field-group label,
.mc-field-group input {
	display:block;
	clear:both;
	margin-top:5px;
	margin-bottom:10px;
	margin: 5px 0 10px 10px;
}

.mc-field-group label span{
	color:red;
}


.mc-field-group input {
	height:30px;
	width:70%;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
	        border-radius:2px;
	border:1px solid #ddd;
	font-size:17px;
}

.button {
	height:35px;
	text-align:center;
	color:#fff;
	background:#c9c9c9;
	font-size: 12px;
	margin-left: 10px;
	-webkit-border-radius:2px;
	   -moz-border-radius:2px;
	        border-radius:2px;
	border:#ddd;
	padding-left:10px;
	padding-right: 10px;

}

.button:hover {
	background: #bbb;
	cursor: pointer;
	color:#33ffbb;
}

/*===================================

Middle Content

===================================*/
.sidebar-middle {
	margin-left:90px;
	margin-top:50px;
	width:350px;
	min-width:350px;
	background: ;
}

.sidebar-middle-index{
	margin-top:54px;
}

.audio-middle {
	width:800px;
	margin-top:54px;
}

.sidebar-middle h1 {
	text-align: center;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:40px;
	margin-top:25px;
	border:1px solid #ccc;
	border-radius:5px;
	background: #ddd;
	font-weight:100;

}

.sidebar-middle #headshot {
	margin-top:30px;
	border-radius: 5px;

}

iframe {
	display: block;
	margin-top: 25px;
	border-radius:5px;
}

.sidebar-right {
	font-family:sans-serif;
	font-weight: 100;
	background:;
	width:300px;
	min-width:250px;
	margin-left:90px;
	margin-top:80px;
	border:1px solid #ddd;
	background:#ddd;
	height:350px;
	padding:20px;
	border-radius: 5px;
}

.sidebar-right h2{
	font-family: cursive;

}

.social-media a i {
	color:black;
	margin-right: 15px;

}

.social-media a .fa-twitter-square:hover {
	color:#00aced;
}

.social-media a .fa-facebook-square:hover {
	color:#3b5998;
}

#about-list {
	margin-left:20px;
}

#about-list ul li {
	margin-bottom: 5px;
}

.spacer {
	height:1px;
	width:80%;
	background: #555;
}
/*===================================

Footer

===================================*/

footer {
	height:30px;
	width:100%;
	margin-top:15px;
	border-top: 1px solid #ddd
}