/*===================================

Basic Reset

===================================*/
* {
	margin:0;
	padding:0;
}

/*===================================

General Styles

===================================*/

h1 {
	
	
	font: 300 61px/72px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:100;

}

/*===================================

Header

===================================*/

header {
	background: url("img/lights.png") 0px -550px;
	background-repeat: no-repeat;
	background-clip: content-box;
	height:240px;
	width:1260px;
	background-color:cadetblue;	
}

/*===================================

Nav

===================================*/

nav {
	height:40px;
	background: grey;
	display:flex;
	align-items: center;
	position: fixed;
	width:100%;
	z-index: 1;
}

.nav-el a {
	position: relative;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color:#00ffcc;
	margin:40px;
	left:60px;
}

header h1 {
	position: relative;
	top:110px;
	left:195px;
	clear:both;
	z-index:0;
	color:#fff;
	width:50%;
}

/*===================================

Main Section

===================================*/
.main {
	height:1000px;
	display:flex;
	background: linear-gradient(to right, teal, violet);
}

.sidebar-left {
	width:300px;
	height:1000px;

	
	/*
	background: -webkit-linear-gradient(red, yellow); 
    background: -o-linear-gradient(red, yellow); 
    background: -moz-linear-gradient(red, yellow); 
    background: linear-gradient(#000, #00e6b8); 
    */
    background-color:#777;
}

.sidebar-middle {
	margin-left:90px;
	margin-top:50px;
	width:350px;
	background: ;

	
}

.sidebar-middle h1 {
	text-align: center;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:40px;
	margin-top:25px;
	border:1px solid #ccc;
	border-radius:5px;
	background: #ddd;
	font-weight:100;

}

iframe {
	display: block;
	margin-top: 25px;
}

.sidebar-right {
	font-family:;
	background:;
	width:300px;
	margin-left:90px;
	margin-top:80px;
	border:1px solid #ddd;
	background:#ddd;
	height:350px;
	padding:20px;
	border-radius: 5px;
}

.social-media a i {
	color:black;
	margin-right: 15px;

}